<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Perfil | Botica Estrella</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="icon" href="logo/botica_estrella-logo.ico" type="image/x-icon">

  </head>

  <body class="profile-page">
    <!-- NAVBAR -->
    <header class="navbar">
      <div class="logo">
        <img src="img/Botica.png" alt="Botica Estrella" />
      </div>

      <div class="nav-actions">
        <a href="carrito.html" class="nav-item">
          <img src="img/carrito.png" alt="Usuario"/>
          <span>Carrito</span>
        </a>

        <a href="index.html" class="nav-item">
          <img src="img/home.png" alt="Home" />
          <span>Home</span>
        </a>
      </div>
    </header>

    <!-- PERFIL -->
    <section class="profile-container">
      <div class="profile-card">
        <div class="profile-header">
          <img src="img/user.png" class="profile-img" alt="Usuario"/>
          <h2>Nombre del Usuario</h2> 
          <p>usuario@email.com</p>
        </div>

        <div class="profile-info">
          <div class="info-item">
            <strong>Teléfono:</strong>
            <span>+51 999 999 999</span>
          </div>

          <div class="info-item">
            <strong>Dirección:</strong>
            <span>Av. Principal 123</span>
          </div>

          <div class="info-item">
            <strong>Miembro desde:</strong>
            <span>2026</span>
          </div>
        </div>

        <div class="profile-actions">
          <button>Editar Perfil</button>
          <button class="logout">Cerrar Sesión</button>
        </div>
      </div>
    </section>

    <!-- HISTORIAL -->
    <section class="profile-history">
      <h2>Historial de Compras</h2>

      <div class="history-container">
        <div class="history-card">
          <p>Paracetamol 120mg</p>
          <span>S/. 2.00</span>
        </div>

        <div class="history-card">
          <p>Ibuprofeno 800mg</p>
          <span>S/. 15.00</span>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer">
      <div class="footer-content">
        <div>
          <h3>Botica Estrella</h3>
          <a href="#">Cuidando tu bienestar</a>
        </div>

        <div>
          <h3>Contacto</h3>
          <a href="#">+51 924 412 183</a>
        </div>

        <div>
          <h3>Enlaces</h3>
          <a href="nosotros.html">Sobre Nosotros</a>
        </div>
      </div>

      <div class="footer-bottom">© 2026 Botica Estrella+</div>
    </footer>
  </body>
</html>
